#css-image{
    border: 4px solid red;
}

.css-image{
    color: red;
}
/* Attribute selector is also an alternate way to select html elements having the attribute used inside the square bracket. */
[alt="javascript roadmap"]{ 
    border: 4px solid hotpink;
}

.heading1{
    color: orangered;
    font-family: cursive;
    font-size: 30px;
    

}

.green-link{
    color: teal;
    font-family: cursive;
    font-size: 18px;
    font-weight: 700;
    text-decoration-line:none;
}

.wavy-link{
    text-decoration-line: underline;
    text-decoration-style: wavy;
}